<app-header></app-header>

<app-spinner *ngIf="isLoading"></app-spinner>

<div class="p10" *ngIf="userDetails.id; else loggedOut">
  <form class="form-group form-inline" #visitorForm="ngForm" novalidate>
    <mat-form-field appearance="fill">
      <mat-label>From</mat-label>
      <input
        matInput
        [(ngModel)]="filterData.fromDate"
        value=""
        name="fromDate"
        minlength="3"
        #fromDate="ngModel"
        type="date"
        class="form-control ml-1"
        placeholder=""
        [max]="filterData.toDate"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>To</mat-label>
      <input
        matInput
        [(ngModel)]="filterData.toDate"
        name="name"
        minlength="3"
        #toDate="ngModel"
        type="date"
        class="form-control ml-1"
        placeholder=""
        [min]="filterData.fromDate"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="isAdmin">
      <mat-select
        [(ngModel)]="filterData.customerId"
        name="customer"
        placeholder="Select a customer"
      >
        <mat-option *ngFor="let cust of customers" [value]="cust.customerId">{{
          cust.customerName
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="isAdmin">
      <mat-select
        [(ngModel)]="filterData.type"
        name="type"
        placeholder="Select a type"
      >
        <mat-option value="inventory">Inventory</mat-option>
        <mat-option value="sale">Sale</mat-option>
        <mat-option value="order">Order</mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      (click)="filterResults()"
      class="pull-right"
    >
      Search
    </button>
  </form>

  <div class="disInlBlock w100">
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Enter search contents"
        #input
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      (click)="exportTable()"
      class="pull-right mt20"
    >
      Download in Excel
    </button>
  </div>

  <div class="table-container">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      id="SearchResults"
    >
      <ng-container matColumnDef="sheetName">
        <th mat-header-cell *matHeaderCellDef>Sheet Name</th>
        <td mat-cell *matCellDef="let element">{{ element.sheetName }}</td>
      </ng-container>

      <ng-container matColumnDef="serialNo">
        <th mat-header-cell *matHeaderCellDef>Serial No.</th>
        <td mat-cell *matCellDef="let element">{{ element.serialNo }}</td>
      </ng-container>

      <ng-container matColumnDef="grossWeight">
        <th mat-header-cell *matHeaderCellDef>Gross Weight</th>
        <td mat-cell *matCellDef="let element">{{ element.grossWeight }}</td>
      </ng-container>

      <ng-container matColumnDef="beadWeight">
        <th mat-header-cell *matHeaderCellDef>Bead Weight</th>
        <td mat-cell *matCellDef="let element">{{ element.beadWeight }}</td>
      </ng-container>

      <ng-container matColumnDef="netWeight">
        <th mat-header-cell *matHeaderCellDef>Net Weight</th>
        <td mat-cell *matCellDef="let element">{{ element.netWeight }}</td>
      </ng-container>

      <ng-container matColumnDef="a" *ngIf="isAdmin">
        <th mat-header-cell *matHeaderCellDef>A</th>
        <td mat-cell *matCellDef="let element">{{ element.a }}</td>
      </ng-container>

      <ng-container matColumnDef="b" *ngIf="isAdmin">
        <th mat-header-cell *matHeaderCellDef>B</th>
        <td mat-cell *matCellDef="let element">{{ element.b }}</td>
      </ng-container>

      <ng-container matColumnDef="c" *ngIf="isAdmin">
        <th mat-header-cell *matHeaderCellDef>C</th>
        <td mat-cell *matCellDef="let element">{{ element.c }}</td>
      </ng-container>

      <ng-container matColumnDef="d" *ngIf="isAdmin">
        <th mat-header-cell *matHeaderCellDef>D</th>
        <td mat-cell *matCellDef="let element">{{ element.d }}</td>
      </ng-container>

      <ng-container matColumnDef="karigarName" *ngIf="isAdmin">
        <th mat-header-cell *matHeaderCellDef>Karigar Name</th>
        <td mat-cell *matCellDef="let element">{{ element.karigarName }}</td>
      </ng-container>

      <ng-container matColumnDef="excelNo" *ngIf="isAdmin">
        <th mat-header-cell *matHeaderCellDef>Excel No.</th>
        <td mat-cell *matCellDef="let element">{{ element.excelNo }}</td>
      </ng-container>

      <ng-container matColumnDef="productType" *ngIf="isAdmin">
        <th mat-header-cell *matHeaderCellDef>Product Type</th>
        <td mat-cell *matCellDef="let element">{{ element.productType }}</td>
      </ng-container>

      <ng-container matColumnDef="huId">
        <th mat-header-cell *matHeaderCellDef>HUID</th>
        <td mat-cell *matCellDef="let element">{{ element.huId }}</td>
      </ng-container>

      <ng-container matColumnDef="itemId">
        <th mat-header-cell *matHeaderCellDef>Item Id</th>
        <td mat-cell *matCellDef="let element">{{ element.itemId }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>

<ng-template #loggedOut>
  <span class="m20 tac disBlock fs30"
    >Please <a href="/login">Login</a> again.</span
  ></ng-template
>
