<h2 class="m0 txtUnderline" mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content class="mat-typography">
  <form #passwordForm="ngForm" novalidate>
    <p>
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Enter password"
          [(ngModel)]="newPassword"
          name="password1"
          required
          #password1="ngModel"
        />
      </mat-form-field>
      <mat-error *ngIf="!password1.valid && password1.touched">
        <div *ngIf="password1.errors?.required" class="text-danger">
          This field is required.
        </div>
      </mat-error>
    </p>

    <p>
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Re-enter password"
          [(ngModel)]="confirmPassword"
          name="password2"
          required
          #password2="ngModel"
        />
      </mat-form-field>
      <mat-error *ngIf="!password2.valid && password2.touched">
        <div *ngIf="password2.errors?.required" class="text-danger">
          This field is required.
        </div>
      </mat-error>
    </p>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button *ngIf="data.noButton" mat-button mat-dialog-close>
    {{ data.noButton }}
  </button>
  <button
    *ngIf="data.yesButton"
    color="primary"
    mat-raised-button
    (click)="savePassword()"
    cdkFocusInitial
  >
    {{ data.yesButton }}
  </button>
</mat-dialog-actions>
